# --- Security ---
.env
airflow.cfg
webserver_config.py

# --- Python ---
.venv/
venv/
__pycache__/
*.pyc

# --- Logs ---
logs/
*.log

# --- Docker/Database Volumes ---
postgres_data/
pgadmin_data/
metabase_data/

# --- dbt ---
dbt/target/
dbt/dbt_packages/
dbt/logs/

# --- System ---
.DS_Store
Thumbs.db
.vscode/